@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body{
  font-family: 'Karla', sans-serif;
  background-color: #F5F5F5;
  color: #384D86;
}

.cardImg {
    max-width: 250px;
}
.logo{
  margin-top: 10px;
  margin-left: 44.5%;
  width: 12%
}
.feather-left{
  position: relative;
  top: -10px;
  left: -62%;
  width: 30%;
  margin-bottom: -400px;
  z-index: -5;
}
.hidden{
  display: none !important;
}
h1{
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}
.container-master{
  display: flex;
  width: 100%;
  justify-content: center;
}
.birdBox{
  width: 60%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.birdCard{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 28%;
  padding: 10px;
  border-radius: 16px;
  box-shadow: 1px 1px 10px 1px rgba(56, 77, 134, 0.2);
  margin-bottom: 25px;
}
.birdCard h3{
  letter-spacing: 1px;
  margin: 5px 5px;
  font-family: 'Josefin Sans', sans-serif;
  color:#384D86;
}
.birdCard h5{
  letter-spacing: 1px;
  margin: 0px;
  color: #384D86;
}

form{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  width: 20%;
  background: whitesmoke;
}

.modal form{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border: 0;
  border-radius: 5px;
  padding: 10px;
  width: 60%;
  background: whitesmoke;
  margin-bottom: 10px;
}

button{
  letter-spacing: 1px;
}
input {
  border: 1px solid #384D86;
    margin-bottom: 5px;
}
form input[type="submit"]{
  font-family: 'Karla', sans-serif;
  letter-spacing: 1px;
  background: #ccc;
  margin: 20px auto;
  width: 50%;
  font-size: 1em;
  color: #Fff;
  padding: 10px 15px;
  border-radius: 4px;
  border: 0;
}
form input[type="submit"]:hover{
  background-color: #384D86;
  color: white;
  cursor: pointer;
}

#createModalOpener{
  padding: 10px 15px;
  border: 0;
  border-radius: 4px;
  color: #Fff;
  background: #ccc;
  margin: 0px 45% 20px 46%;
}
#createModalOpener:hover{
  background: #384D86;
  cursor: pointer;
}

.birdCard button{
  margin: 15px 2px 20px 0px;
  padding: 10px 15px;
  background-color: #CCC;
  border-radius: 4px;
  color: #fff;
  border: 0;
}
.birdCard button:hover{
  background-color: #384D86;
  color: white;
  cursor: pointer;
}
#createModal{
  padding: 40px 40px 20px 40px;
  border: 0;
  background: white;
  border-radius: 16px;
  box-shadow: 1px 1px 10px 1px rgba(56, 77, 134, 0.2);
  margin-bottom: 20px;
}

.modal {
  background: whitesmoke;
  border-radius: 16px;
  box-shadow: 1px 1px 15px 1px rgba(56, 77, 134, 0.5);
  padding-bottom: 20px;
  width: 30%;
}

.modal h2 {
  color: #384D86;
  margin-bottom: 10px;
  text-align: center;
}

#modalClose {
  width: 92%;
  text-align: end;
  margin: 15px 10px;
  cursor: pointer;
}

.modalBackground {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background: rgba(0,0,0,0.5)
}
footer{
  text-align: center;
  margin-top: 70px;
  margin-bottom: 20px;
}
